.main-section-plans {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

@media (max-width: 960px) {
  .main-section-plans {
    flex-direction: column;
    background-color: white;
    padding: 0px;
  }
}
