.plan-wrapper {
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 5px;
}

.links {
  text-decoration: none;
}

.plan-card {
  background-color: black;
  border-radius: 10px;
  padding: 3rem;
  width: 300px;
  height: 400px;
  text-decoration: none;
  transition: 500ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.plan-card:hover {
  transition: 500ms ease;
  transform: scale(105%);
}

.plan-card-image-wrapper {
  width: 100%;
  text-align: center;
}
.plan-card-text-wrapper {
  text-align: center;
}

.plan-card-text-wrapper h1,
h2 {
  color: white;
  padding: 0.5rem 0rem 0.3rem;
  font-weight: 100;
}

.plan-card-text-wrapper p {
  opacity: 0.5;
  color: white;
}

.plan-card-image-wrapper img {
  width: 100px;
  height: 100px;
}

@media (max-width: 960px) {
  .plan-wrapper {
    padding-bottom: 20px;
  }
}
